<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="/css/all.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/bulma.css" rel="stylesheet" />
    <script src="/js/all.js"></script>
    <script src="/js/scripts.js"></script>
    <title>Sneakkk! : We love sneakers</title>
  </head>
  <body>
    <section id="app">
      <nav class="navSize">
        <div class="itemLeft">
          <a>
            <img src="https://bulma.io/images/bulma-logo.png" style="width: 120px;">
          </a>
          <!-- Md - Sm = ShowHamburger -->
          <div class="hamburgerNav" style="cursor: pointer;" @click="navburger = !navburger">
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
          </div>
        </div>
        <div class="itemCenter">
          <div>
            <a class="navbar-item itemSpacing">
              Shop
            </a>
          </div>
          <a class="navbar-item itemSpacing">
            Redeem
          </a>
          <a class="navbar-item itemSpacing">
            myCart
          </a>
          <a class="navbar-item">
            Feedback
          </a>
        </div>
        <div class="itemRight">
          <a class="navbar-item">
            Login
          </a>
          <a class="navbar-item">
            Sign Up
          </a>
        </div>
      </nav>
      <div v-show="navburger" class="clickHamburger">
        <a class="navbar-item borderItem">
          Shop
        </a>
        <a class="navbar-item borderItem">
          Redeem
        </a>
        <a class="navbar-item borderItem">
          MyCart
        </a>
        <a class="navbar-item borderItem">
          Feedback
        </a>
        <div style="display: flex; margin-left: 1em; height: 65px;">
          <button class="button is-light heightCenter">
            Login
          </button>
          <p style="margin-left: 3em; margin-right: 3em; margin-top: auto; margin-bottom: auto;">Or</p>
          <button class="button is-light heightCenter">
            Sign Up
          </button>
        </div>
      </div>
      <div class="boxs"></div>
  </section>
  </body>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        navburger : false,
      },
      methods : {
      },
      computed : {
      },
    })
  </script>
</html>